.topnav {
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 40px;
  margin-top: 15px;
  padding: 10px;
}

.icon {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  padding-left: 30px;
}

i {
  color: white;
  font-size: 35px;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(61, 59, 59);
  padding-right: 30px;
}

.signup {
  background-color: rgb(194, 123, 123);
  border-radius: 25px;
}