@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(56, 55, 55);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}

.topnav {
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 40px;
  margin-top: 15px;
  padding: 10px;
}

.icon {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  padding-left: 30px;
}

i {
  color: white;
  font-size: 40px;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(61, 59, 59);
  padding-right: 30px;
  border-bottom: 1px solid black;
}

.signup {
  background-color: rgb(194, 123, 123);
  border-radius: 25px;
}

section {
  min-height: 90vh;
  min-width: 90vw;
  border: 5px solid white;
  text-align: center;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  min-width: 90vw;
  border: 5px solid white;
}

#main h1 {
  margin-bottom: 50px;
}

#serie {
  overflow: hidden;
}

#film{
  overflow: hidden;
  
}

.scrollContainer {
  width: 90vw;
  display: flex;
  flex-direction: row;
  position: relative;
  left: 0px;
  margin-top: 50px;
}

.scrollContainer2 {
  width: 90vw;
  display: flex;
  flex-direction: row;
  position: relative;
  left: 0px;
  margin-top: 50px;
  
}

p {
  padding: 10px;
}

h1 {
  color: white;
  font-size: 100px;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 80px;
  margin-top: 30px;
}

h2 {
  color: white;
  font-size: 45px;
  text-align: left;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 40px;
  margin-top: 40px;
  color: rgb(194, 123, 123);
}

h3 {
  color: white;
  font-size: 25px;
  padding: 10px;
  margin-bottom: -5px;
  margin-left: 5px;
}

img {
  height: 300px;
  padding: 10px;
}

footer {
  text-align: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid black;
  color: white;
}

.bunn {
  min-height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

.litenboks {
  max-width: 300px;
}

.storboks {
  max-width: 650px;
}

footer H2 {
  color: rgb(170, 168, 168);
  text-align: center;
  padding-left: 0px;
  font-size: 50px;
}

.bunn h3 {
  color: rgb(194, 123, 123);
}

.bunn p {
  font-size: 20px;
  padding: 5px;
  color: rgb(196, 194, 194);
}
